*{
 	margin:0;
 	padding:0;
 	box-sizing:border-box;
 }
 
 body{
 	font-family: 'Crimson Text';
 }
 
 .contenedor{
 	padding:60px 0;
 	width: 90%;
 	max-width:1000px;
 	margin: auto;
 	overflow: hidden;
 }
 
 .titulo {
 	color: #642a73;
 	font-size:30px;
 	text-align: center;
 	margin-bottom: 60px;
 }
 
 /*Header*/
 header{
 	width: 100%;
 	height: 600px;
 	background: #0cebeb;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, hsla(180, 90%, 50%, 0.7),hsla(165, 78%, 50%, 0.7), hsla(164, 100%, 50%, 0.7)), url(../img/portada.png);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, hsla(180, 90%, 50%, 0.7),hsla(165, 78%, 50%, 0.7), hsla(164, 100%, 50%, 0.7)), url(../img/portada.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
	background-size: cover;
	background-attachment:  fixed;
	position: relative;
}

nav{
	text-align: right;
	padding: 30px 50px 0 0;
}

nav > a{
	color:#ffff;
	font-weight: 500;
	text-decoration: none;
	margin-right: 10px;
}

nav > a:hover{
	text-decoration: underline;
}

header .textos-header{
	display: flex;
	height: 430px;
	width: 100%;
	align-items: center;
 	justify-content: center;
 	flex-direction: column;
 	text-align: center;
 }
 
 .textos-header h1{
 	font-size: 50px;
}

.titulo{
	font-size: 70px;
	font-weight: 300;
}
 
.wave{
 	position: absolute;
 	bottom:0;
 	width: 100%;
 }
 
 /*About us*/
 
  .contenido-textos{
 	width: 48%;
 	margin-left: 5px;
 }
 
 .contenido-textos h3{
 	margin-top:15px;
 	margin-bottom: 7px;
 	font-size: 30px;
 	
 }
 
  .contenido-textos p{
 	margin-bottom: 7px;
 	text-align:justify;
 	padding: 0px 20px 0px 0px;
 	
 	
 }
 
 .imagen-about-us{
 	width: 100%;
 	padding: 20px 0px 20px 0px;
 }
 
 .contenedor-sobre-personaje{
 	display:flex;
 	justify-content: space-evenly;
 }
 
.tabla{
	width: 50%;
	padding: 10px;
	border: 2px solid black;
	float: left;
}

/* Footer */
 
 footer{
 	background: #414141;
 	padding: 60px 0 30px 0;
 	margin: auto;
 	overflow: hidden;
 }
 
 .contenedor-footer{
 	display: flex;
 	width: 90%;
 	justify-content: space-evenly;
 	margin: auto;
 	padding-bottom: 50px;
 	border-bottom: 1px solid #ccc;
 }
 
 .content-foo{
 	text-align: center;
 }
 
 .content-foo h4{
 	color: #fff;
 	border-bottom: 3px solid #3BFFC7;
 	padding-bottom: 5px;
 	margin-bottom: 10px;
 }
 
 .content-foo p{
 	color: #ccc;

 }
 .titulo-final{
 	text-align: center;
 	font-size: 24px;
 	margin: 20px 0 0 0;
 	color: #9e9797;
 }
